/data_set/
/out/out_evaluation/recall_queries.txt
/out/out_evaluation/precision_queries.txt
/out/out_evaluation/precision@10_queries.txt
/out/out_evaluation/mean_reciprocal_rank_queries.txt
/out/out_evaluation/mean_average_precision_queries.txt
/out/out_evaluation/average_precision_queries.txt
/out/out_preprocessing/tokenize.txt
/out/out_preprocessing/stopwords.txt
/out/out_preprocessing/stemming.txt
/out/out_preprocessing/punctuation.txt
/out/out_preprocessing/lemmatize.txt
/out/out_preprocessing/duplicated.txt
/out/out_preprocessing/cluster.txt
/out/query_representation/inverted_index.txt
/out/query_representation/tfidf_df.txt
/out/query_processing/duplicated.txt
/out/query_processing/lemmatize.txt
/out/query_processing/punctuation.txt
/out/query_processing/query.txt
/out/query_processing/stopwords.txt
/out/query_processing/tokenize.txt
/out/query_processing/stemming.txt
/out/query_matching/query_matching.txt
/out/query_matching/query_rank.txt
